<small>
    <em>
        <p>Written by <a href="{{ page.contact }}">{{ page.author }}</a> on {{ page.date | date_to_string }}.</p>
        <p>No one is paid to write these reviews. We make money by selling our <a href="thankyou1.html">supplement kits</a> and <a href="thankyou2.html">workout programs</a>.</p>
        <p>Kits and programs coming soon.</p>
    </em>
</small>
