    	<meta charset="UTF-8" />
    	<title>{{ site.name }}</title>
    	<meta name="generator" content="iA Writer for Mac 1.4 (1.4)" />
    	<meta name="description" content="" />
    	<meta name="keywords" content="" />
    	
    	<link rel="stylesheet" href="./css/normalize.css">
    	<link rel="stylesheet" href="./css/custom.css">   