<p>Please <a href="mailto:team@renaissancefitnessinc.com?subject=Add+me+to+your+mailing+list!&body=Please+email+me+ASAP+when+the+upgrades+are+complete!">join our mailing list</a> and we'll email you as soon as our new offerings are ready.</p>
