<!DOCTYPE html>
<html>
    <head>
        {% include head.html %} 	
    </head>
    
    <body>
        <header>
            {% include header.html %}
        </header>
        
        <hr />
        
        <content>
            {{ content }}
        </content>
    
        <footer>    
            {% include footer.html %}
        </footer>

    </body>
<script>
    {% include analytics.html %}
</script>
</html>
